<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Summer Camp</title>
</head>

<body>
    <%- name %>
    <br>
    <div id="msgs">
    <%- messageList %>
    </div>

    <form method="post" id="form">
			
        <label><b>Message: </b> <textarea name="text" id="text"></textarea></label>
   
    <input type="submit" id="submit1" value="Submit Request"/>
</form>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

var messages = document.getElementById('msgs');
var form = document.getElementById('form');
var input = document.getElementById('text');

form.addEventListener('submit', function(e) {
  e.preventDefault();
  if (input.value) {
    socket.emit('chat message', input.value);
    input.value = '';
  }
});

socket.on('chat message', function(msg) {
  var item = document.createElement('li');
  item.textContent = msg;
  messages.appendChild(item);
  console.log("ASDASDASDASDASDASDASD");
  window.scrollTo(0, document.body.scrollHeight);
});
</script>
</body>
</html>