<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Summer Camp</title>
</head>

<body>
    <%- messageList %>

    <form method="post">
			
        <label><b>Message: </b> <textarea name="text"></textarea></label>
   
    <input type="submit" value="Submit Request"/>
</form>
</body>
</html>