<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8" />
    <title>Info</title>
</head>

<body>
    
    <div id="nameheader">
        <h1>Join the Livechat!</h1>
    </div>
            <br>
    <div id = "name">
        <form method="post" id="form">       
                <img src="monitor.png" alt="Computer" width="300" height="250">
                <br>
                <br>
                <label><b>Please Enter Your Name: </b> <input type="text" id="name" name="name"></label>
                <input type="submit" value="Submit Request" />
        </form>
    </div>
    <br>
    <div id = "monitor">
        
 
    </div>
    
</body>

</html>