<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Summer Camp</title>
</head>

<body>

    <form method="post">
			
        <label><b>Name: </b> <input type="text" name="name"></textarea></label>
   
    <input type="submit" value="Submit Request"/>
</form>
</body>
</html>