<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8" />
    <title>Info</title>
</head>

<body>

    <form method="post" id="form">
			
        <label><b>Name: </b> <input type="text" id="name" name="name"></textarea></label>
   
    <input type="submit" value="Submit Request"/>
</form>

</body>
</html>